[user]
	name = Rosario Contarino
	signingkey = 0040720565DA9EF5DFB38DE07BAEC61DEA1F1448
[sendemail]
	smtpserver = /usr/bin/msmtp
[push]
	default = current
[gpg]
	program = gpg2
[pull]
	rebase = false
[core]
	excludesfile = /home/saro/.gitignore_global
	commentchar = |
