[user]
	name = Rosario Contarino
	signingkey = BDCA466BF6E8C55099DB4106893A56BDEB294F06
[sendemail]
	smtpserver = /usr/bin/msmtp
[push]
	default = current
[gpg]
	program = gpg2
[pull]
	rebase = false
[core]
	excludesfile = /home/saro/.gitignore_global
	commentchar = |
